body{
	font-family: 'Titillium Web', sans-serif;
}
.navbar{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 60, .05);
    min-height: 70px
}
.nav-link{color: rgba(0, 0, 170, .9);}
.nav-link:hover{color: rgba(194, 113, 0, 1);}
.nombrejuego{color: rgba(0, 0, 170, .9);}
.nombrejuego:hover{color: rgba(194, 113, 0, 1);}
.logo-brand{
	color: black
	min-width: 140px;
	max-width: 120px;
}
.navbar.toggler{font-size: 40px}
.navbar.toggler:focus{outline: none0}

#hero {
	background-image: url("images/backgroundum2.jpg");
	background-size: cover;
	padding-top: 90px;
	min-height: 700px;
	color: #ffffff;
}
#sem {
	color: black;
	text-align: center;
}

.content-center{
	max-width: 1200px;
	margin: 0 auto 60 px auto;
	text-align: center;
}

h1{ font-size: 66px; font-weight: 600; line-height: 80px; }
h4{ color: blue; }

p{
	font-size: 18px;
	color: grey;
	line-height: 1.8;
	margin-bottom: 0;
}

#hero p {
	color: white;
}
.btn-light{
	margin-bottom: 10px;
	width: 85px;
	height: 100px;
}

.col-1{
	display: table;
}

div.row{
	width: 1150px;
	height: 600px
}
